<script src="https://apis.google.com/js/client.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
  window.images = {
    about_football: "<%=image_path('brandon-football.jpg')%>",
    headshot: "<%=image_path('brandon-headshot.jpg')%>",
    circle_logo: "<%=image_path('logo-transparent.png')%>",
    circle_logo2: "<%=image_path('logo-transparent-2.png')%>",
    sitting: "<%=image_path('sitting.jpg')%>",
    smiling: "<%=image_path('brandon.jpg')%>",
    emoji: "<%=image_path('emoji.png')%>",
    cheese: "<%=image_path('cheese.jpg')%>",
    coleman: "<%=image_path('gene_coleman.jpg')%>",
    dubois: "<%=image_path('hasise_dubois.jpg')%>",
    kg_gray: "<%=image_path('kg_gray.jpg')%>",
    lewis: "<%=image_path('michael_manzo-lewis.jpg')%>",
    fitzpatrick: "<%=image_path('Minkah_FitzPatrick.jpg')%>",
    vassel: "<%=image_path('terrell_vassel.jpg')%>",
    e1: "<%=image_path('e1.jpg')%>",
    e2: "<%=image_path('e2.jpg')%>",
    e3: "<%=image_path('e3.jpg')%>",
    e4: "<%=image_path('e4.jpg')%>",
    e5: "<%=image_path('e5.jpg')%>",
    e6: "<%=image_path('e6.jpg')%>",
    e7: "<%=image_path('e7.jpg')%>",
    e8: "<%=image_path('e8.jpg')%>",
    running: "<%=image_path('running.jpg')%>",
    joso_yellow: "<%=image_path('JOSO-LOGO-YELLOW.png')%>",
    logo_with_guy: "<%=image_path('logo-with-guy.png')%>",
    b1: "<%=image_path('blog1.jpg')%>",
    b2: "<%=image_path('blog2.jpg')%>",
    b3: "<%=image_path('blog3.jpg')%>",
    b4: "<%=image_path('blog4.jpg')%>",
    b5: "<%=image_path('blog5.jpg')%>",
    b6: "<%=image_path('blog6.jpg')%>",
    b7: "<%=image_path('blog7.jpg')%>",
    b8: "<%=image_path('blog8.jpg')%>",
    b9: "<%=image_path('blog9.jpg')%>",
    b10: "<%=image_path('blog10.jpg')%>",
    b11: "<%=image_path('blog11.jpg')%>",
    b12: "<%=image_path('blog12.jpg')%>",
    b13: "<%=image_path('blog13.jpg')%>",
    b14: "<%=image_path('blog14.jpg')%>",
    b15: "<%=image_path('blog15.jpg')%>",
    b16: "<%=image_path('blog16.jpg')%>",
    b17: "<%=image_path('blog17.jpg')%>",
    b18: "<%=image_path('blog18.jpg')%>",
    b19: "<%=image_path('blog19.jpg')%>",
    b20: "<%=image_path('blog20.jpg')%>",
    b21: "<%=image_path('blog21.jpg')%>",
    b22: "<%=image_path('blog22.jpg')%>",
    b23: "<%=image_path('blog23.jpg')%>",
  }
</script>

<main id="root"></main>
