<script src="https://apis.google.com/js/client.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
  window.images = {
    about_football: "<%=image_path('brandon-football.jpg')%>",
    headshot: "<%=image_path('brandon-headshot.jpg')%>",
    circle_logo: "<%=image_path('bltv-circle-logo.jpg')%>",
    sitting: "<%=image_path('sitting.jpg')%>",
    smiling: "<%=image_path('brandon.jpg')%>",
    emoji: "<%=image_path('emoji.png')%>",
    cheese: "<%=image_path('cheese.jpg')%>",
    coleman: "<%=image_path('gene_coleman.jpg')%>",
    dubois: "<%=image_path('hasise_dubois.jpg')%>",
    kg_gray: "<%=image_path('kg_gray.jpg')%>",
    lewis: "<%=image_path('michael_manzo-lewis.jpg')%>",
    fitzpatrick: "<%=image_path('Minkah_FitzPatrick.jpg')%>",
    vassel: "<%=image_path('terrell_vassel.jpg')%>"
  }
</script>

<main id="root"></main>
